/*esto es un comentaria de css*/

/*
ANATOMIA DEL CSS
selector {
    propiedad: valor;
    propiedad: valor;
}

*/
body {
    background-color:#7DBBF0;
}

h1 {
    color: #3D6B11;
   ;
}

p {
    color: #1947E0;
}

h2 {
    color:#771313 ;
}

h3 {
    color:#A70058
};
}
a{
    color: #912060;
}
th
{
    color: black;
    background-color: white;
}
td
{
    color: black;
    background-color: white;
}