/*esto es un comentaria de css*/

/*
ANATOMIA DEL CSS
selector {
    propiedad: valor;
    propiedad: valor;
}

*/
body {
    background-color:#06147A;
}

h1 {
    color: red;
   ;
}

p {
    color: #8B80FB;
}

h2 {
    color: #A70058;
}

h3 {
    color:#B90000;
}
a{
    color: #912060;
}
th
{
    color: black;
    background-color: white;
}
td
{
    color: black;
    background-color: white;
}